@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.track-horizontal {
  background-color: #ffffff;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 10px !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 10px;
}
